body { background: #f8f8f8; padding: 60px 0; }
#login-form > div { margin: 15px 0; }

#login-form{

}
#login_check span{
  margin-right: 30px;

}
.panel-title{
  font-style: oblique;
}
#login_head{
  text-align: center;
  margin: 50px;
}
#login_box{
  left:25%;
  margin: 0;
}
.resitration{
  margin-top: 20px;
  background-color: #343a40;
  color: white;
  font-style: italic;
  border: none;
  border-radius:5px;
  box-shadow: 2px 2px #343a40;
}


.resitration:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
